@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot');
  src: url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Light'),
  local('Open-Sans-300'),
  url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2') format('woff2'),
  url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff') format('woff'),
  url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf') format('truetype'),
  url('//fonts.gstatic.com/l/font?kit=DXI1ORHCpsQm3Vp6mXoaTVlIn5tFQcqMuf-jhyJP0ps&skey=b33cc031a589c168&v=v13#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot');
  src: url('//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Light Italic'),
  local('Open-Sans-300italic'),
  url('//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxtTIkQYohD4BpHvJ3NvbHoA.woff2') format('woff2'),
  url('//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff') format('woff'),
  url('//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf') format('truetype'),
  url('//fonts.gstatic.com/l/font?kit=PRmiXeptR36kaC0GEAetxj4dnM32POWavC8T_whbZeI&skey=78fa527f8e87b8b8&v=v13#OpenSans') format('svg');
}

$real-white: #fff;
$real-black: #000;
$invisible: hsla(0, 0, 0, 0);
$white: darken($real-white, 2%);
$primary-colour: hsla(138, 58%, 32%, 1);
$primary-colour-text: darken($white, 2%);
$secondary-colour-text: #727272;
$divider-colour:        #b6b6b6;
$accent-colour:         #ff5252;
$code-background-color: #fffff0;

$black: lighten($real-black, 5%);
$header-colour: $primary-colour; //hsla(295, 60%, 20%, 1);
$nav-colour: darken($header-colour, 0%);
$border: darken($real-white, 20%);
$lift-off-grey: #888;

$main-background: #ddd;
$body-background: $real-white;

$card-background: $real-white;
$card-border: darken($card-background, 15%);
$card-border-radius: .25rem;
$card-width: calc(50% - 1rem);
$card-width-wrap: 48rem;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  background-color: $main-background;
}

header,
main,
div,
section,
article {
  display: flex;
  flex-wrap: wrap;
}
