.container {
  display: flex;
  min-width: 52rem;
  max-width: 52rem;
}

@media screen and (max-width: 53rem) {
  .container {
    min-width: 100%;
    padding: 0 .5rem;
  }

  .noPadding {
    padding: 0;
  }
}
