$real-white: #fff;
$real-black: #000;
$white: darken($real-white, 2%);
$primary-colour:  #873399;
$primary-colour-text: darken($white, 2%);

$black: #212121;
$border: #BDBDBD;

$main-background: #FEFEFE;
